@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&family=Rochester&family=Titillium+Web:wght@200;300;400;600&display=swap');


.content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
}

::-webkit-scrollbar {
  display:none;
}

img{
  height: 310;
  width: 350px;
}

.container{
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items: center;
  align-content: center;
  height:1000px;
  width:900px;
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 400px;
}

.card{
  margin-bottom:50px;
  box-shadow: 5px 5px 15px black;
  overflow: hidden;
  margin: 50px;
  border-radius: 10px;
}

.intro{
  height: 50px;
   padding: 6px;
   box-sizing: border-box;
   background: rgb(134,210,255);
   background: linear-gradient(180deg, rgba(134,210,255,0.7404003837863271) 100%, rgba(1,149,172,0.5499241933101365) 100%);
   color: rgb(0, 0, 0);
   bottom:240px;
   transition:0.7s;
  }

  .card:hover{
    cursor:pointer;
   
}

.card:hover .intro{
  height: 300px;
  bottom: 100px;
  background: rgb(127,158,255);
  background: linear-gradient(180deg, rgba(127,158,255,0.45748721852022056) 35%, rgba(1,149,172,0.5499241933101365) 63%);
  color: rgb(0, 0, 0);
}
.card:hover p{
  opacity: 1;
  visibility:visible;
}
.card:hover img{
  transform: scale(1.1) rotate(-0.5deg);
}
