@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Titillium+Web:wght@200;300;400;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h3{
	font-family: 'Rochester', cursive;
	font-size: 60px;
	color: rgb(247, 70, 141);
	text-shadow: 1px 1px 2px black;
}

header {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 2rem;
	background: rgb(0,88,157);
	background: linear-gradient(180deg, rgba(0,88,157,0.8748541652989321) 5%, rgba(0,107,210,0.5163107479319853) 61%, rgba(30,176,255,0.348243521041229) 86%, rgba(83,194,255,0.04012027174150912) 93%);
	color: #fff;
	height: 12vh;
	width: 100vw;
	position:fixed;
	z-index: 10;
	font-size: 0.9rem;
    width: 100%;
    position:fixed;
    top:0;
    transition-timing-function: ease-in;
    transition:0.5s
	
}

nav a {
	margin: 0 1rem;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.3s ease;
    margin-left: 1rem;
    font-size: 1.6rem;
    transition: 0.6s;

}

nav a:hover {
	color: rgb(255, 70, 101);
	font-size: 30px;
	cursor: pointer;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: rgb(255, 70, 101);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position:fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgb(53,183,255);
		background-color: linear-gradient(90deg, rgba(53,183,255,0.8356384790244222) 100%, rgba(83,194,255,0.04012027174150912) 100%, rgba(83,194,255,0.348243521041229) 100%);
		transition: 1s;   
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}