body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  
  .divv {
    width: 300px;
    height: 50px;
    padding-top:5px;
    background-color: transparent;
    transition: width 1s;
    
  }
  .bgpic{
    background-image: url(https://res.cloudinary.com/dnngdn8ev/image/upload/v1670482429/pic5_mbfmou.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
   }
  .divv:hover {
    width: 850px;
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    border-radius: 2%;
    background-color: transparent;
  }
  .ABOUTUS
  {
    text-align: center;
  }
  .para1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: transparent;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  
  .para1:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: 32px;
    box-shadow: 5px 5px 15px black;
    border-radius: 30px;
    
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 10px;
    
    background-color: transparent;
    text-align: left;
  
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  .img2{
    background-image: url("https://res.cloudinary.com/dnqmodo6i/image/upload/v1670821579/pic2_ajjdm1.jpg");
    width:500px;
    height:400px;
    margin-left: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text2{
    box-shadow: 5px 5px 15px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: -400px;
     margin-left: 150px;
     margin-right: 700px;
     margin-bottom: 180px;
     padding-left: 35px;
     padding-top: 5px;
     padding-bottom: 25px;
     border-radius: 10px;
     font-size: 20px;
     line-height:1.7;
     background-color: rgb(235, 185, 241);
  
  }
  .img3{
  
    background-image: url("https://res.cloudinary.com/dnqmodo6i/image/upload/v1670821592/pic3_psrrde.jpg");
    width:450px;
    height:400px;
    background-repeat: no-repeat;
    margin-left: 130px;
    background-size: cover;
  }
  .text3{
    box-shadow: 5px 5px 15px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: -370px;
     margin-left: 700px;
     margin-right: 120px;
     margin-bottom: 150px;
     padding-left: 35px;
     padding-right: 35px;
     padding-top: 20px;
     padding-bottom: 20px;
     border-radius: 10px;
     font-size: 20px;
     background-color: rgb(208, 236, 245);
  
  }
  .img4{
    background-image: url("https://res.cloudinary.com/dnqmodo6i/image/upload/v1670821602/pic4_jtxx1h.jpg");
    width:500px;
    height:400px;
    margin-left: 700px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text4{
    box-shadow: 5px 5px 15px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: -380px;
     margin-left: 120px;
     margin-right: 670px;
     margin-bottom: 100px;
     padding-left: 40px;
     padding-right: 20px;
     line-height:1;
     padding-top: 1px;
     padding-bottom: 50px;
     border-radius: 10px;
     font-size: 20px;
     line-height:1.2;
     background-color: rgb(178, 231, 151);
  
  }
  
  .para2 {
    font-family:'Times New Roman', Times, serif;
    margin-left: 40%;
    font-size: 30px;
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
    margin-top: 50px;
    width: 40%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }